body {
	font-family: monospace;
	line-height: 1.5;
	background-color: #062863;
	background-image: url('./img/piggy-4.png'), url('img/piggy-3.png'), url('img/piggy-2.png'), url('img/piggy-1.png');
    background-size: 15%, 15%, 15%, 15%;
    background-position: left -1% top -15%, right -7.5% top -1%, left -5% bottom -10%, right -5% bottom -5%;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-attachment: fixed;
}

@media only screen and (max-width: 800px) {
body {
	margin: 0px;
	padding: 0px;
}
}

.box {
	padding-top: 3rem;
    align-items: center;
    flex-direction: column;
    display: flex;
}

@media only screen and (max-width: 800px) {
.box {
	margin: 0px;
	padding: 0px;
	padding-top: 3rem;
}
}

@media only screen and (min-width: 800px) {
.box {
    padding-bottom: 3rem;
    overflow: auto;
    min-height: 100vh;
}
}

img {
	max-width: 100%;
	margin-bottom: 3rem;
}

.content {
	border-bottom-right-radius: 1.25rem;
	border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    background-color: #fff;
}

@media only screen and (max-width: 800px) {
.content {
	width: 92%;
	margin: 0px;
	padding: 0px;
}
}

@media only screen and (min-width: 800px) {
.content {
	width: 92%;
	max-width: 32rem;
}
}


header {
	align-items: center;
	flex-direction: column;
	display: flex;
	padding-top: 30px;
	margin: 15px 0px 25px 0px;
}

h2 {
	color: #083e9e;
	text-align: center;
	font-weight: 700;
	margin: 0px;
    	font-size: 2em;
}

@media only screen and (max-width: 800px) {
	h2 {
    font-size: 1.5em;
	}
}

p {
    font-size: .875rem;
    color: #4a5568;
    text-align: center;
    margin: 0px;
}

@media only screen and (max-width: 800px) {
	 p {
    font-size: .650rem;
	}
}

.top-form {
	position: relative;
	display: flex;
	flex-direction: column; 
}

.label {
	font-size: 15px;
	color: #4a5568;
	margin-bottom: .25rem;
	line-height: 2;
	font-weight: 700;
}

@media only screen and (max-width: 800px) {
	 .label {
    font-size: 12px;
	}
}

	
input {
	padding: 20px;
    border-radius: 5px;
    border: none;
    background: #edf2f7;
    font-size: inherit;
    color: #000;
    margin-bottom: 20px:
	
}

@media only screen and (max-width: 800px) {
	input {
    		padding: 10px;
	}
}

select {
	padding: 20px;
    border-radius: 5px;
    border: none;
    background: #edf2f7;
    font-size: inherit;
	
}

@media only screen and (max-width: 800px) {
	select {
    		padding: 10px;
	}
}

option {
	font-size: 17px;
	padding: 20px;
	margin: 19px;
}


@media only screen and (max-width: 800px) {
	.content-2 {
    		padding: 20px 10px 40px 10px;
	}
}

.content-2 {
	padding: 20px 40px 40px 40px;
}


button {
	align-items: center;
	width: 100%;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	padding: 25px;
	font-weight: 700;
	cursor: pointer;
	border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
    border-bottom-right-radius: .75rem;
    background-color: #083e9e;
    border: 0px;
    font-family: monospace;
    font-size: 18px;

}

button:hover {
	background-color: #062863;
}

a {
	color: #fff;
	text-decoration: unset;
	font-size: 16px;
	font-weight: 400;
}

a:hover {
	color: rgb(179, 179, 179);
}

@media only screen and (max-width: 800px) {
.link {
    font-size: 10px;
	}
}

.link {
	padding-top: 30px;
	margin: 20px;
}
